body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.answer {
  background-color: #F0f7fd;
  border-color: #d0e3f0;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #d0e3f0;
  cursor: pointer
}

.answer:hover {
  background-color:  #d0e3f0;
}

.authorimage {
  width: 100%;
  height: 100%;
}